img {
    background: #fff;
    height: 150px;
    width: 150px;
    border-radius: 1000px;
    box-shadow: 3px 3px 3px #0f3b3d;
    display: inline-block;
  }
  
  #imgBox, .card {
    display: inline-block;
    margin: 2%;
    border: none;
  }
  
  #col {
    display: inline-block;
  }